stages:
  - build

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_REGISTRY: registry.teadal.ubiwhere.com
  DOCKER_IMAGE: $DOCKER_REGISTRY/$CI_PROJECT_PATH

build-docker:
  stage: build
  image: docker:latest
  services:
    - name: docker:dind
      alias: docker
  
  # override (empty) the global before_script
  before_script: []
  script:
    - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin "$DOCKER_REGISTRY"
    - docker build --pull -t "$DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA" .
    - docker tag "$DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA" "$DOCKER_IMAGE:latest"
    - docker push "$DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker push "$DOCKER_IMAGE:latest"
