from typing import Any
from contextlib import asynccontextmanager

from fastapi import FastAPI, HTTPException, Request, Response
from starlette.status import HTTP_200_OK

from asg_runtime import Executor


@asynccontextmanager
async def lifespan(app: FastAPI):
    try:
        executor = await Executor.async_create()
        app.state.executor = executor
        app.state.settings = executor.get_settings()

        yield  # reached if no errors
    except Exception:
        # log and exit on startup error
        import traceback
        print(traceback.format_exc())
        raise

    # clean things up if needed
    await executor.shutdown()


app = FastAPI(lifespan=lifespan)

# --- Service Endpoints ---

@app.get("/service/settings", tags=["service"])
def get_settings(request: Request) -> dict:
    return request.app.state.settings


@app.get("/service/stats", tags=["service"])
async def get_stats(request: Request) -> dict:
    executor: Executor = request.app.state.executor
    return executor.get_stats()

@app.get("/service/transforms", tags=["service"])
async def get_transforms(request: Request) -> list:
   executor: Executor = request.app.state.executor
   return executor.get_transforms()
   
@app.post("/service/origin_cache/clean", tags=["service"])
async def clear_origin_cache(request: Request) -> str:
    executor: Executor = request.app.state.executor
    result = await executor.async_clear_origin_cache()
    return result


@app.post("/service/response_cache/clean", tags=["service"])
async def clear_response_cache(request: Request) -> str:
    executor: Executor = request.app.state.executor
    result = await executor.async_clear_response_cache()
    return result


# --- Data Endpoints ---
# helper called by all data endpoints
async def get_endpoint_data(request: Request, endpoint_spec: str) -> Response:
    executor: Executor = request.app.state.executor
    try:
        result = await executor.async_get_endpoint_data(endpoint_spec)

        if result.get("status") == "ok":
            return Response(
                content=result["data"], 
                media_type="application/json",
                status_code=HTTP_200_OK)
        
        # "status" is is not "ok" - return error
        raise HTTPException(status_code=500, detail=result.get("message", "Unknown error"))

    except HTTPException:
        raise
    except Exception as e:  
        # unhandled exception - log and return error
        import traceback
        print(traceback.format_exc())
        message = f"Unhandled exception of type {type(e)} in get_endpoint_data: {e}."
        raise HTTPException(status_code=500, detail=message)
 
# --- Generated Data Endpoints ---

{% for endpoint in endpoints %}
@app.{{ endpoint.method }}("{{ endpoint.sfdp_endpoint_path }}", tags=["data"])
async def {{ endpoint.sfdp_endpoint_name }}(request: Request, {% for param in endpoint.parameters %}{{ param.name }}: {% if param.type == 'string' %}str{% elif param.type == 'integer' %}int{% elif param.type == 'boolean' %}bool{% elif param.type == 'number' %}float{% else %}Any{% endif %}{% if param.nullable %} = None{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}):
    """
    {{ endpoint.description }}
    """
    path_params: dict = {
        {%- for param in endpoint.parameters if param.in == 'path' %}
        "{{ param.name }}": {{ param.name }}{%- if not loop.last %},{%- endif %}
        {%- endfor %}
    }
    query_params: dict = {
        {%- for param in endpoint.parameters if param.in == 'query' %}
        "{{ param.name }}": {{ param.name }}{%- if not loop.last %},{%- endif %}
        {%- endfor %}
    }
    # Create Yaml and run executor
    endpoint_spec: dict[str, Any] = {{endpoint_specs[endpoint.sfdp_endpoint_name]}}
    for i, param in enumerate(path_params):
        if endpoint_spec["spec"]["apiCalls"]["{{endpoint.name}}"]["arguments"][i]["argLocation"] == 'parameter':
            endpoint_spec["spec"]["apiCalls"]["{{endpoint.name}}"]["arguments"][i]["value"] = path_params[param]

    for i, param in enumerate(query_params):
        if endpoint_spec["spec"]["apiCalls"]["{{endpoint.name}}"]["arguments"][i]["argLocation"] == 'header':
            endpoint_spec["spec"]["apiCalls"]["{{endpoint.name}}"]["arguments"][i]["value"] = query_params[param] 

    spec_string = f"""{endpoint_spec}"""

    return await get_endpoint_data(request, spec_string)
{% endfor %}
