from fastapi import FastAPI
import requests
from fastapi.responses import JSONResponse
import pandas as pd
from transform import handle_transform
from acg.executor import exec
from langchain_core.documents.base import Document
from acg.types import ApiCallInf,ApiCallIssues

app = FastAPI()

# Define FastAPI endpoints
{% for endpoint in endpoints %}
@app.{{ endpoint.method }}("{{ endpoint.path }}")
async def {{ endpoint.name }}({% for param in endpoint.parameters %}{{ param.name }}: {% if param.type == 'string' %}str{% elif param.type == 'integer' %}int{% elif param.type == 'boolean' %}bool{% elif param.type == 'number' %}float{% else %}Any{% endif %}{% if param.nullable %} = None{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}):
    """
    {{ endpoint.description }}
    """
    path_params = {
        {%- for param in endpoint.parameters if param.in == 'path' %}
        "{{ param.name }}": {{ param.name }}{%- if not loop.last %},{%- endif %}
        {%- endfor %}
    }
    query_params = {
        {%- for param in endpoint.parameters if param.in == 'query' %}
        "{{ param.name }}": {{ param.name }}{%- if not loop.last %},{%- endif %}
        {%- endfor %}
    }
    # Create Yaml and run executor
    con_spec = handle_transform.create_spec_section({{endpoint}}, '{{teadal_server}}', "1234", "apiToken", path_params, query_params)
    full_spec = handle_transform.add_export_section('{{endpoint.name}}', con_spec, {{results}})
    res = exec.run_from_spec_string(full_spec)
    try:
        response_data = {key: df.to_dict(orient='records') for key, df in res.items()}
    except:
        # In case no transformations, return json.
        return JSONResponse(res['.'])
    return JSONResponse(response_data)
{% endfor %}
